.wordlegame--div{
    width:500px;
    display:flex;
}

.wordlegame--tile{
    width: 15%;
    aspect-ratio: 1;
    border: 2px solid lightgray;

    display:flex;
    justify-content: center;
    align-items: center;
    margin:.5%;
}
.wordlegame{
    height:600px;
}

.wordle--game--tile__green{
    border: 2px solid lime;
}