.wordlegame--div{
    width:300px;
    display:flex;
}
.wordlegame--div p{
    margin:0;
    pointer-events: none;
    user-select: none;
}

.wordlegame--animation{
    animation: tileflip .5s ease-in forwards;
    animation-delay: calc(var(--animation-order) * 300ms);

}
.wordlegame--animation__win{
    animation: tileflip .5s ease-in forwards;
    animation-delay: calc(var(--animation-order) * 300ms);

}
.wordlegame--animation__type{
    animation: .1s sizeupdown ease-in;
}

.wordlegame--div__invalid-animation{
    animation:rowshake .5s;
}

.wordlegame--tile{
    width: 20%;
    aspect-ratio: 1;
    border: 2px solid var(--key-bg);

    display:flex;
    justify-content: center;
    align-items: center;
    margin:.5%;
}
.wordlegame{
    aspect-ratio: 5/6;
    margin: auto;
    width:fit-content;
}
.wordlegame--tile__dark-border{
    border-color:var(--color-absent);
}

.wordlegame--img-win{
    position: absolute;
    aspect-ratio: 1/1;
    width:25%;
    opacity:0;
    animation: ninja 2s 1.5s;
    top:25%;
    left:0;
    z-index: 2;
}

@keyframes rowshake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
  
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

@keyframes tilejump {
    0%{
        transform:none;
    }
    50%{
        transform:translateY(-50%);
    }
    100%{
        transform:none;
    }
}

@keyframes sizeupdown{
    0%{
        transform:none;
    }
    50%{
        transform:scale(115%);
    }
    100%{
        transform:none;
    }
}

@keyframes tileflip {
    0% {
        transform: rotate3d(-1, 0, 0, 0deg);
        background-color: transparent;
        border-color: var(--color-absent);
        color: black;
    }
    49.99% {
        transform: rotate3d(-1, 0, 0, 90deg);
        background-color: transparent;
        border-color: var(--color-absent);
        color: black;
    }
    50% {
        transform: rotate3d(-1, 0, 0, 90deg);
        background-color: var(--color);
        border-color: var(--color);
        color: white;
    }
    100% {
        transform: rotate3d(-1, 0, 0, 0deg);
        background-color: var(--color);
        border-color: var(--color);
        color: white;
    }
}

@keyframes ninja {
    0% {
      transform: translateX(100vw) rotate(0deg);
      opacity: 1;
    }
    20% {
      transform: translateX(50vw) rotate(360deg);
    }
    50% {
      transform: translateX(50vw) translateY(-10px) rotate(360deg);
    }
    100% {
      transform: translateX(100vw) translateY(0) rotate(360deg);
      opacity: 1;
    }
  }

@media (max-width: 500px) {
    .wordlegame--div{
        width:65vw;
    }
}

@media (max-width: 400px) {
    .wordlegame--div{
        width:90vw;
    }
}
